{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Alo Resto !{% endblock %}

{% block body %}

    <div class="" >
      <img class="card-img-top" src="/image/Commander les yeux fermer c'est Français.png" alt="">

    <div class="text-white bg-dark", style="margin-top :-830px">

      </div>
    </div>
</div>


{% endblock %}
